<div class="container">
        <div class="col-6 center">
    
          <span>
            <img src="images/cat.jpg" alt="">
          </span>
        </div>
        <div class="col-6 center">
          <span>
          <h1>Welcome!</h1>
          <p> Please check out all the cool new courses by our innovative and creative professors.</p>
          </span>
          
        </div>
</div>
   


