
 <div class="container">
    <div class="col-6">
      <span class="col-6 center">
        <img src="images/graph.png" alt="" height="100" width="100" >
      </span>
    
      <span class="col-6 center">
    
      <p>Enter a new course if you're interested to learn more:</p>
      <form class="contact-form" 
            action="/courses/submit" method="post">
        <label for="name">Course Title</label>
        <input type="text" name="name" value="">
        <label for="price">Price</label>
        <input type="text" name="price" value="">
        <input type="submit" value="Submit">
      </form>
      </span>
    </div>
    
</div>
 