<div class="col-6">
      <p>Enter a new course if you're interested to learn more:</p>
      <form class="contact-form" action="/" method="post">
          <input class="button" type="text" name="name" value="" required>
          <input class="button" type="text" name="price" value="">
          <input class="button" type="submit" value="submit">
      </form>
</div>div>  