
<!--<div id="nav">TOP NAVIGATION</div>-->

<div id="nav">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- CSS (load bootstrap from a CDN)  -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <!--<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">  -->
    <link rel="stylesheet" href="/css/bootstrape.css">	
    <link rel="stylesheet" href="/css/confetti_cuisine.css">

    <div class="col-6 center">
        <a href="/"><span class="button">Home</span></a>
        <a href="/courses"><span class="button">Courses</span></a>
        <a href="/newcourse"><span class="button">New Course</span></a>
    </div>
    
    <div class="col-6" style="color:blueviolet">
        <h1>Computer Science Courses</h1>
        <!--
        <div class="col-6">
            <img src="/graphs/graph.png" class="card-img-profile pro-img" id="graph" width="100" height="100" />       
        </div>-->
    </div>
   

</div>